body {
  background: $bg-color;
  color: $text-color;
}

body, input, textarea, select {
  font-family: Arvo, "American Typewriter";
}

.container {
  width: 940px;
  margin: 0 auto;
}

header {
  position: relative;
  top: 0;
  text-align: center;
}

footer .container {
  margin-top: 6em;
  padding: 2em 0;
  border-top: 4px solid $text-color;
  font-size: .8em;
}


.top_bar {
  overflow: hidden;
  margin-bottom: 2em;
  font-size: .8em;
  text-transform: uppercase;
}

.address {
  float: left;
}

.hours {
  float: right;
}

.hero {
  clear: both;
  overflow: hidden;
  margin-bottom: 3em;
  background: red;
  min-height: 384px;
  height:auto !important;
  height: 384px;
  background: transparent url(../img/mission.jpg) 50% 50%;
}

.fb-like {
  float: right;
  vertical-align: top;
}

.vcard {
  display: inline-block;
}

.logo {
  width: 307px;
  height: 288px;
  margin: 1.5em auto 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url(../img/logo.png) 50% 50%;
}

a,
a:link,
a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  color: #000;
  text-decoration: underline;
}
